
.section-subtitle {
    width: 60%;
    color: black;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    /*border: 1px solid #2f80ed;*/
  }