.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid #2f80ed;
  display: flex;
  align-items: flex-start;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 228px;

}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  margin: 0;
  padding: 0;
  z-index: 100;
  border: 1px solid #2f80ed;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 0 64px;
  padding: 0;
  z-index: 2;
  border: 1px solid #2f80ed;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  z-index: 3;
  border: 1px solid #2f80ed;

}
.header__main-illustration_image {
  width: 765px;
  height: 608px;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  border: 1px solid #2f80ed;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #ed2f2f;
}

.description {
  position: relative;
  border: 1px solid #2f80ed;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.two-columns {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #2f80ed;
}
.two-columns__brief {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 175px;
  margin: 0;
  padding: 0;
  border: 1px solid #2f80ed;
}
.span-accent_blue {
  color: #2f80ed;
}
.two-columns__main-text {
  /*text-align:left;*/
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  text-align: left;
  border: 1px solid #2f80ed;
}
.paragraph_margin {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #2f80ed;
}
.span-accent_bold {
  font-weight: 700;
}
ul {
  list-style: none;
}

.digits {
  position: relative;
  border: 1px solid #2f80ed;
  /*min-height: 600px;
  max-height: 756px;
  width: 100%;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /*justify-content: space-around;*/
  padding-top: 100px;
  margin: 0;
}

.section-title {
  width: 60%;
  font-weight: 700;
  line-height: 1.15;
  font-size: 60px;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #2f80ed;

}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*justify-content: center;*/
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid #2f80ed;
}

.table_them_light {
  width: 1100px;
  margin-bottom: 100px /*auto 100px auto*/;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #2f80ed;
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid #2f80ed;
}

.table__heading_them_light {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #2f80ed;
}
.table__text_them_light {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
